.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

 */
.cf {
    *zoom: 1;
}



@font-face {
    font-family: messy;
    src: url(../messy/messyFont.ttf);
}

@font-face {
    font-family: lemon;
    src: url(../lemon/lemon.otf);
}
/********************************************************************************************/



/********************************************************************************************/



body{
  margin: auto;
  background: url(../images/food-best.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2 {
  text-align: center;
  color: #C34A2C;

}

h1 {
  font-size: 45px;
  font-family: messy;
}

h2 {
  font-family: lemon;
  font-size: 30px;
}
.container{
  margin:auto;
}

.form-inline{
  margin-top: 10%;
  margin: auto;
  width: 75%;
  text-align: center;
  padding: 1%;
}

.review-rating{
  margin: auto;
  display: block;
  text-align: center;
}

label{
  display: block;
  margin: auto;
  text-align: center;
}
.form-group input {
  width: 150px!important;
  display: block;
  margin: auto;
}
textarea{
  display: block!important;
  margin: auto!important;
}


.form-group {
  display: block;
  margin: auto;
  padding: 2%;
}
/*#rating {
  display: block;
  margin: auto;
  width: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
}*/

/*.butt-div {
  margin-top: 5%;
}*/
.btn{
  margin: auto;
  display: block;
  text-align: center;
  background-color: #F88017;
}

.info {
  margin: auto;
  text-align: center;

}

.info p {
  color: white;
}
